In [1]:
from Task1 import Data

apple_df = Data().apple()
other_df = Data().other()

len(apple_df), len(other_df)

apple company file exist.
other company file exist.

(352, 65280)

In [4]:
apple_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  352 non-null    int64
 1   uid         352 non-null    object
 2   content     352 non-null    object
dtypes: int64(1), object(2)
memory usage: 8.4+ KB

In [5]:
other_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65280 entries, 0 to 65279
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    65280 non-null  int64
 1   Country Code                  65280 non-null  object
 2   Granted Number                65280 non-null  object
 3   Examined Pub. Number          65280 non-null  object
 4   Unexamined Pub. Number        65280 non-null  object
 5   Kind Code                     65280 non-null  object
 6   Application Number            65280 non-null  object
 7   Application Date              65280 non-null  object
 8   Unexamined Pub. Date          65280 non-null  object
 9   Examined Pub. Date            65280 non-null  object
 10  Status[US,JP,KR,CN,EP,CA,AU]  65280 non-null  object
 11  Applicant                     65280 non-null  object
 12  Orig. IPC(All)                65280 non-null  object
 13  Curr. IPC(All)                65280 non-null  object
 14  Title                         65280 non-null  object
 15  Abstract                      65280 non-null  object
 16  All Claims[JP,KR,CN]          65280 non-null  object
 17  WIPSGLOBAL KEY                65280 non-null  int64
dtypes: int64(2), object(16)
memory usage: 9.0+ MB

In [8]:
len(other_df['Applicant'].unique())

18705

In [2]:
other_df.head()

,Unnamed: 0,Country Code,Granted Number,Examined Pub. Number,Unexamined Pub. Number,Kind Code,Application Number,Application Date,Unexamined Pub. Date,Examined Pub. Date,"Status[US,JP,KR,CN,EP,CA,AU]",Applicant,Orig. IPC(All),Curr. IPC(All),Title,Abstract,"All Claims[JP,KR,CN]",WIPSGLOBAL KEY
0,0,US,11602262,,2018-0199799,B2,15/870245,2018-01-12,2018-07-19,,Granted,"Boston Scientific Scimed, Inc.",A61B-001/00 | A61B-001/012 | A61B-005/00 | A61...,A61B-034/30 | A61B-090/00 | A61B-001/00 | A61B...,"Medical systems, devices, and related methods",A device may include a first portion coupled t...,1. A method of measuring an insertion force an...,4923011000696
1,1,US,11602270,,2020-0022573,B2,16/482389,2018-01-31,2020-01-23,,Granted,UNIVERSITY OF UTAH RESEARCH FOUNDATION,A61B-001/313 | G16H-030/40 | G16H-040/63 | A61...,A61B-005/287 | G16H-030/40 | G16H-040/63 | A61...,Devices and methods for mapping cardiac tissue,The present disclosure relates to systems and ...,1. An intravascular device configured for in-s...,4923011000704
2,2,US,11602271,,2019-0269320,B2,16/284025,2019-02-25,2019-09-05,,Granted,Alcon Inc.,A61B-003/10 | A61F-009/008 | G02B-006/02 | G01...,G01B-009/02091 | G01B-009/02056 | A61B-003/10 ...,Common path waveguides for stable optical cohe...,An OCT imaging system may include an OCT light...,1. An Optical Coherence Tomography (OCT) imagi...,4923011000705
3,3,US,11602273,,2018-0116507,B2,15/858437,2017-12-29,2018-05-03,,Granted,DIGNITY HEALTH,A61B-003/113 | A61B-005/16 | A61B-005/18 | A61...,A61B-003/113 | A61B-005/16 | A61B-005/18 | A61...,System and method for using microsaccade dynam...,A system and method for determining a subject'...,1. A method for determining a subject's attent...,4923011000707
4,4,US,11602274,,2020-0060544,B2,16/537992,2019-08-12,2020-02-27,,Granted,Hourglass Medical LLC,A61B-005/00 | A42B-003/14 | G16H-040/67,G16H-040/67 | A61B-005/00 | A42B-003/14,Head-worn remote informatics system,An informatics system that can be head-worn un...,"1. An informatics system, comprising: a helmet...",4923011000708

In [9]:
counts = other_df.value_counts(subset='Applicant').reset_index().rename({0:'專利數量'},axis=1)
counts

                            Applicant  專利數量
0                                      4551
1            KONINKLIJKE PHILIPS N.V.  1083
2                     Medtronic, Inc.   805
3                        DexCom, Inc.   703
4           Abbott Diabetes Care Inc.   577
...                               ...   ...
18700                   MSA Auer GmbH     1
18701                 MSA EUROPE GMBH     1
18702             MSA TECHNOLOGY, LLC     1
18703    MSC Healthcare (S) Pte. Ltd.     1
18704  MD Vascular International, LLC     1

[18705 rows x 2 columns]

In [5]:
counts

                            Applicant  專利數量
0                                      4551
1            KONINKLIJKE PHILIPS N.V.  1083
2                     Medtronic, Inc.   805
3                        DexCom, Inc.   703
4           Abbott Diabetes Care Inc.   577
...                               ...   ...
18700                   MSA Auer GmbH     1
18701                 MSA EUROPE GMBH     1
18702             MSA TECHNOLOGY, LLC     1
18703    MSC Healthcare (S) Pte. Ltd.     1
18704  MD Vascular International, LLC     1

[18705 rows x 2 columns]